header {
    height: 80px;
    background-color: var(--color-bg-secondary);
    color: var(--color-font-secondary);
    display: flex;
    align-items: center;
}

.site-name {
    font-size: 20px;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}